/* Slider.css */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns the slider to the right */
  width: 100%; /* Takes full width to allow alignment */
}

.slider-value-display {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}
.slider-label {
  display: flex;
  justify-content: space-between; /* This ensures that the min and max labels are on opposite ends */
  align-items: center; /* Center-align the labels vertically */
  width: 100%; /* Ensure the label container spans the full width of the slider */
  margin-top: 10px; /* Optional: Adjust the space between the slider and the labels */
}

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
  }
  
  /* Label styles */
  .slider-label {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 800;
  }
  